<div class="row">
  <div class="col-sm-5" *ngIf="selectedStudent">
    <div class="row">
      <div class="mr-auto mt-2">
        <app-title [title]="'Cód. Aluno: ' + selectedStudent.id"></app-title>
      </div>
      <div class="mt-2">
        <button class="btn btn-sm btn-outline-secondary" (click)="backToList()">Fechar</button>
      </div>
    </div>
    <hr>
    <form [formGroup]="studentForm" (submit)="studentSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input formControlName="firstname" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sobrenome</label>
        <input formControlName="lastname" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Documento</label>
        <input formControlName="document" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Telefone</label>
        <input formControlName="phonenumber" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">E-mail</label>
        <input formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-success" [disabled]="!studentForm.valid">Submit</button>
      </div>
    </form>
  </div>
  <div class="mt-2" [ngClass]="{'col-sm-7': selectedStudent, 'col-sm-12': !selectedStudent}">
    <app-title [title]="title"></app-title>
    <hr>
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Email</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let student of students'>
          <th scope="row">{{student.id}}</th>
          <td>{{student.firstname}}</td>
          <td>{{student.lastname}}</td>
          <td>{{student.email}}</td>
          <td>
            <div class="btn-group">
              <button (click)="selectedRowFromTable(student)" class="btn btn-sm btn-outline-info">Detalhe</button>
              <button class="text-dark btn btn-sm btn-outline-warning" (click)="openModal(template)">Professores</button>
              <button class="btn btn-sm btn-outline-danger">Desativar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-teachers></app-teachers>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary pull-right" aria-label="Close" (click)="modalReference.hide()">
      FECHAR
    </button>
  </div>
</ng-template>
